[submodule "ss-notifier-api"]
	path = ss-notifier-api
	url = https://github.com/edvardskrumins/ss-notifier-api
[submodule "ss-notifier-web"]
	path = ss-notifier-web
	url = https://github.com/edvardskrumins/ss-notifier-web.git
